.portfolio-container {
  display:flex;
  height: 91.5vh;
}

.portfolio-left {
  width: 50%;
  height: 100%;
  padding: 12px;
}

.portfolio-right {
  background: linear-gradient(180deg, #7600bb 0%,#af5aff 65%, var(--bs-body-bg)100%);
  width: 50%;
  padding: 12px;
  height: 100%;
}

label{
  padding:6px;
}

.title {
  padding:6px;
  color: black;
  margin-bottom: 1.5rem;
}

.field {
  border-radius:4px;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:8px;
  margin-bottom:12px;
  width:50%;
  border:1px solid rgba(0,0,0,0.25);
  padding:2px 6px;
}

.calculate {
  border-radius:4px;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:8px;
  margin-bottom:12px;
  width:25%;
  border:1px solid rgba(0,0,0,0.25);
  padding:2px 6px;
}

.currency-list {
  display:flex;
  flex-direction: column
}

.currency-list-item {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  padding: 20px;
  border-radius:8px;
  margin: 5px;
  border:1px solid rgba(0,0,0,0.25);
  list-style-type:none;
  font-size:18px;
  margin: 5px 15px 0 0;
  transition: ease-in-out 0.3s;
}

.currency-list-item:hover {
  background:#eee;
  cursor:pointer;
  margin: 10px 15px 10px 0;
}

.currency-list-item a{
  text-decoration:none;
  color: #333;
}

.currency-list-item .currency_symbol {
  float:right;
  font-size:12px;
}
