.portfolio-value{
  margin-left:auto;
  margin-right:auto;
  padding: 8px;
  color:#ffffff;
}

.portfolio-value-header{
  margin-bottom: 24px;
}

.portfolio-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  background-color: #7a00df;
  border: 0.1rem solid #560079;
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  padding: 20px 10px;
  border-radius:8px;
  margin: 10px 10px 10px 10px;
}

.portfolio-card-object{
  width: 25%
}

.portfolio-card-object .header{
  font-size:10px;
}

.portfolio-card-object .text {
  font-size:18px;
}
