<div class="navbar navbar-expand-sm navbar-light navbar-crypto">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <h1>Cryptolio</h1>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%= render "shared/signed_in" %>
        <% else %>
          <%= render "shared/log_in" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
