@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto+Mono:wght@500&display=swap');

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

:root {
  --main-text: #a200ff;
  --main-text-hover: #6805a1;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
}

body{
  font-family: 'Roboto Mono', monospace;
  margin:0;
}
